.taskContainer {
  display: flex;
  width: 345px;
  height: 62px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--radius-rounded-md, 6px);
  background: #f3f4f6;
}
.checkbox {
  width: 20px;
  height: 20px;
  fill: #0275ff;
  stroke-width: 1px;
  stroke: #fff;
  filter: drop-shadow(0px 0px 0px #015fcc);
}
.deleteTask {
  background: #fef2f2;
  color: #ef4444;
  border-radius: 6px;
  border: #fef2f2 solid 0.5px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
}
